
@media (max-width: 577px) { 
	
}

@media (max-width: 769px) {

}

@media (max-width: 993px) { 
	#celebrate {
		text-align: center;

	}

	.cake-wrapper{
		width: 360px!important;
		padding: 0 0;
		margin: 10px auto 0 auto;
	}

	.cake {
		position: relative!important;
		top: 0!important;
		width: 360px!important;
		margin: 5px auto;

	}

}

@media (min-width: 994px) { 
	.cake {
		width: 450px;
		left: 50px;
	}
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4 {
	font-family: 'Playfair Display', serif;

}

p{
	font-size: 20px;
}

.navbar-brand {
	font-weight: 700;
	font-size: 1.2rem;
	letter-spacing: 2px;
}

.nav-item {
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 2px;
	padding-left: 10px!important;
}

.bg-light {
	background-color: white!important;
}

.jumbotron {
	background-color: white;
	padding: 8rem 2rem;
	text-align: center;
	margin-bottom: 2.5rem;
	z-index: -2;
}

.intro {
	margin: 20px auto;
	position: relative;
	z-index: 1;
	background-color: Aliceblue;
	border-radius: 25px;
}

/*#cake-wrapper {
	min-height: 300px;
	min-width: 250px;
}*/

.cake{
	position: absolute;
	top:-77px;
	height: auto;
	z-index: -1;

}

#celebrate {
	margin: 40px 0;
	padding: 0 20px;
}
